.hg
*.pyc
.hgtags
PKG-INFO
build/*
*.os
*.dylib
*.rej
*.patch
doc/en/reference/sage/*
doc/en/reference/sagenb/*
doc/en/reference/*/sage
doc/en/reference/*/sagenb
doc/output/*
cython_debug
sage/*/*.c
sage/*/*/*.c
sage/*/*/*/*.c
sage/*/*.cpp
sage/*/*/*.cpp
c_lib/libcsage.la
c_lib/libcsage.so
c_lib/.sconsign.dblite
sage/ext/interpreters/
sage/libs/pari/gen.h
sage/rings/integer.h
sage/rings/rational.h
sage/rings/complex_double.h
sage/rings/complex_double_api.h
sage/rings/real_mpfi.h
sage/misc/allocator.h
sage/symbolic/pynac.h
sage/modular/arithgroup/farey_symbol.h
*~
